{% extends "base.html" %}

{% block content %}
    <form action="{{ baseurl }}/add", method="POST">
        <p>Paper Name: <input type = "text" name = "paper_name" size="50" value="{{ filename }}" required/></p>
        <p>Paper Category: <input type = "text" name = "paper_category" size="50" /></p>
        <p>Task Definition: <textarea name="task_definition" cols="50" rows="3" ></textarea></p>
        <p>Dataset Used: <textarea name="dataset_used" cols="50" rows="3" ></textarea></p> 
        <p>Method Definition: <textarea name="method_definition" cols="50" rows="3" ></textarea></p> 
        <p>Brief Summary: <textarea name="brief_summary" cols="50" rows="3" required></textarea></p> 
        <p><input type="submit" value="Submit"></p>
    </form> 
{% endblock %}