{% extends "base.html" %}

{% block content %}
    <form action="{{ baseurl }}/add", method="POST">
    <!-- <form action="http://localhost:5000/add", method="POST"> -->
            
        <label for="paper_name">Paper Name: </label>
        <input type="text" id="paper_name" size="50" value="{{ filename }}" required></textarea><br><br>

        <label for="paper_category">Paper Category:</label>
        <textarea id="paper_category" rows="1" cols="50"></textarea><br><br>

        <label for="paper_category">Task Definition:</label>
        <textarea id="paper_category" rows="2" cols="50"></textarea><br><br>

        <label for="dataset_used">Dataset Used:</label>
        <textarea id="dataset_used" rows="2" cols="50"></textarea><br><br>

        <label for="method_definition">Method Definition:</label>
        <textarea id="method_definition" rows="2" cols="50"></textarea><br><br>
        
        <label for="brief_summary">Brief Summary:</label>
        <textarea id="brief_summary" rows="5" cols="50" required></textarea><br><br>

        <p><input type="submit" value="Submit"></p>
    </form> 
{% endblock %}

<!-- "paper_name": "",
"paper_category": "",
"task_definition": "",
"dataset_used": "",
"method_definition": "",
"brief_summary": "" -->
