{% extends "base.html" %}

{% block content %}
    {% for k, v in data.items() %}
        <tr>
            <h3><td>{{ k }}</td>:</h3>
            <td>{{ v }}</td><br><br>
        </tr>
        <!-- <div class="row">
            <div class="column" style="background-color:white;">
                <td>{{ k }}</td>
            </div>
            <div class="column" style="background-color:white;">
                <td>{{ v }}</td>
            </div>
        </div> -->
    {% endfor %}

    <p><a href="{{ baseurl }}/form/{{ data.Name }}">Edit data</a></p>
    <p><a href="{{ baseurl }}/show">Show all data</a></p>
{% endblock %}
